{% extends "base.html.twig" %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}
{% include "menu_user.html.twig" %}
<h1>Utilisateur index</h1>
<table>
    <tr>
        <th>Utilisateur</th>
        <th>Role</th>
    </tr>

    {% for utilisateur in utilisateurs %}
        <tr>
            <td><a href="{{ path('utilisateur_id', {'id':utilisateur.id}) }}">{{ utilisateur.prenom }} {{ utilisateur.nom }}</a></td>
            <td>{{ utilisateur.role }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}