.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    color: black;
}


body {
    background-color: rgb(255, 255, 255);
    color:black;
    width: 100%;
}

.new_link {
    display:block;
    background-color: green;
    width: 80%;
    margin:10px auto;
    padding: 10px;
    text-align:center;
    text-decoration:none
}

/* 
-----------------------------------------
C'est pour le menu nav 
*/
.nav {
    width: 90%;
    padding: 10px;
    margin: 0 auto; 
}

.links-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color: burlywood;
    padding: 5px;
    list-style: none;
}

.link-nav {
    display: block;
    margin: 5px;
    padding: 4px 16px;
    border: 1px black solid;
    background-color: rosybrown;
    box-shadow: 2px 1px 2px 0 chocolate;
    border-radius: 10px 20px;
    text-decoration: none;
    transform: rotateX(-30deg);
    color: white;
    transition: 1s;
}
/*
---------------------------------------------------------------------
C'est le style de table 
*/
table {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    border: 2px red solid;
    padding: 10px;
    border-collapse: collapse ;
}

th,td {
    padding: 5px;
    border: 1px solid yellow;
}

td, td > a {
    background-color: rgb(65, 16, 143);
    color: wheat;
}

th {
    font-weight: bold;
}

/* le style de commentaire */
.commentaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 50px;
    border: 2px blue solid;
    background-color: blue;
    color: white;
}

.tete,.info,.contenu {
    width: 90%;
    margin: .5rem auto;
    text-align: center;
}

.pagination {
    display: flex;
    width: 30%;
    margin: 1rem auto;
    font-size: 1rem;
    justify-content: space-between;
    padding: .5rem;
}

.pagination span {
    display: block;
    padding: .2rem;
    border: 1px yellow solid;
    background-color: blue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    min-width: 7%;
}


