{% extends "base.html.twig" %}

{% block title %}
    {{ articles.titre }}
{% endblock %}

{% block body %}
    <h1>Article {{ articles.id }}</h1>
    <p>Titre : {{ articles.titre }}</p>
    <p>Contenu : {{ articles.contenu }}</p>



{% endblock %}